.upDiv
{
    background:url('sprites/logo.jpg') 100% 100% no-repeat fixed;
    color: #fff;
    height: 25%;
    margin: 0;
    padding: 12% 0 12% 0;
    background-size: cover;
}

.middleDiv
{
    text-align: center;
    padding: 52%;
    background-color: #f2f2f2;

}
.downDiv
{
    padding: 55%;
}

#logoImage
{
    vertical-align: middle;
    width: 35%;
    height: 35%;
}

#labelForUsername, #labelForPassword
{
    text-align: center;
    font-size: 200%;
    padding: 1%;
    font-weight: normal !important;

}

.form-control
{
    width: 20%;
    height: 50%;
    font-size: 200%;
    display: inline-block;
    text-align: center;
}

body {
    font-family: 'Lora', serif;
    background-color: #b3b3b3;

}

