header
{
    background-color: #b4d0e4;
    outline: 10px solid #3e4242;
}

#logo
{
    margin: 0 auto;
}

.form-control
{
    padding: 2%;
    font-size: 200%;
}

#saySomething
{
    margin-top: 2%;
    margin-bottom: 2%;
}

#inputPostOrSearch
{
    margin: 0 auto;
    border-radius: 0px;
    font-size: 100%;
    border-style: solid #b4d0e4;
    resize: none;
    overflow: hidden;
    padding: 0;
}

#maxLength
{
    outline: 5px solid #cd3232;
    margin: 0 auto;
}

.btn
{
    height: 150%;
    width: 75%;
    border-radius: 1px;
    margin: 0 auto;
    outline: 5px solid #b4d0e4;
}

#Search, #Post
{
    font-size: 150%;
}

#Attach
{
    font-size: 150%;
    opacity: 0;
}

input
{
    padding: 0;
}

#content
{

    display: block;
    border-style: solid;
    border-color: #3e4242;
    border-width: 10px;
}



#settings
{
    background-color: #b4d0e4;
    border-style: solid;
    border-color: #3e4242;
    border-width: 10px;
    margin: 0 auto;
    padding: 1%;
}

#logedInAs
{
    font-size: 20px;
    font-weight: bold;
    color: #3e4242;
    border: 4px solid #3e4242;
    background: white;
}

#loginPic
{
    outline: 5px solid #3e4242;
    margin: 0 auto;
}

#changePic, #changeName
{
    margin: 0 auto;
    outline: 5px solid #3e4242;

}

#logOutPic
{
    outline: 5px solid #3e4242;
    margin: 0 auto;
    margin-top: 8%;
}

#whatOthersSay
{
    background-color: #b4d0e4;
    border-style: solid;
    border-color: #3e4242;
    border-width: 10px;
    padding: 0;
    margin-bottom: 5%;
}

#postText
{
    margin: 0 auto;
    padding:5%;
    background: white;
}

#postPicture
{
    margin: 0 auto;
    padding: 0;
}

.post
{
    padding: 5%;
}

footer
{
    padding: 2%;
    background-color: #b4d0e4;
}

#add
{
    text-align: center;
    color: #3e4242;
}

body
{
    background:url('sprites/new-york.jpg') 100% 100% no-repeat fixed;
    color: #fff;
    background-size: cover;
    text-align:center;

    height: 100%;
    margin: 0 auto;
    font-family: 'Lora', serif;

}


textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
    border-color: #b4d0e4;
    box-shadow: 0 1px 1px #b4d0e4 inset, 0 0 8px #b4d0e4;
    outline: 0 none;
}


::-webkit-input-placeholder {
    text-align: center;
}

ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@media (max-width: 300px) {
    #inputPostOrSearch { font-size: 100%; }
}

@media (min-width: 500px) {
    #inputPostOrSearch { font-size: 120%; }
}

@media (min-width: 700px) {
    #inputPostOrSearch { font-size: 160%; }
}

@media (min-width: 1200px) {
    #inputPostOrSearch { font-size: 200%; }
}
