.upDiv
{
    text-align: center;
}
.middleDiv
{
    text-align: center;
    padding: 2%;


    background-color: #f2f2f2;

}
.downDiv
{
    padding: 5%;
}

#logoImage
{
    vertical-align: middle;
    width: 35%;
    height: 35%;
}

#labelForUsername, #labelForPassword
{
    text-align: center;
    font-size: 200%;
    padding: 1%;
    font-weight: normal !important;

}

.form-control
{
    width: 20%;
    height: 50%;
    font-size: 200%;
    display: inline-block;
    text-align: center;
}

body {
    font-family: 'Lora', serif;
    background-color: #b3b3b3;

}