header
{
    font-family: 'Lora', serif;
    font-size: 500%;
    background-color: #b4d0e4;
    text-align: center;
}

#logo
{
    margin: 0 auto;
}

.upDiv
{
    background:url('sprites/new-york.jpg') 100% 100% no-repeat fixed;
    color: #fff;
    background-size: cover;
    text-align:center;


}

.form-group
{
    margin: 0 auto;
    padding: 20%;
}

.form-control
{
    height: 150%;
    width: 50%;
    font-size: 200%;
    margin: 0 auto;
    border-radius: 0px;
}

.btn {
    height: 150%;
    width: 50%;
    border-radius: 0px;
    margin: 0;

}

.middleDiv
{
    padding: 2%;
}

.downDiv
{
    background:url('sprites/new-york.jpg') 100% 100% no-repeat fixed;
    color: #fff;
    background-size: cover;
    text-align:center;

}

footer
{

    font-family: 'Lora', serif;
    background-color: #b4d0e4;

    height: 60px;

}

#add
{
    text-align: center;
    color: #3e4242;
    padding: 2%;
}




body
{
    height: 100%;
    margin: 0;
    font-family: 'Lora', serif;
    background-color: #b4d0e4;
}

::selection
{
    background: #687e97; /* WebKit/Blink Browsers */
}
::-moz-selection
{
    background: #687e97;
}

a:link, a:visited, a:hover, a:active {
    color: #3e4242;
    text-decoration: none;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
    border-color: #b4d0e4;
    box-shadow: 0 1px 1px #b4d0e4 inset, 0 0 8px #b4d0e4;
    outline: 0 none;
}

::-webkit-input-placeholder {
    text-align: center;
}



